apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rest-sputnik-ing66
  annotations:
    kubernetes.io/ingress.class: 'nginx'
    ingress.kubernetes.io/add-base-url: 'true'
    ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /$WERCKER_APPLICATION_OWNER_NAME/user66/
        backend:
          serviceName: rest-sputnik-svc66
          servicePort: 8166
